form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-arround;
    align-items: center;
    padding: 50px;
    background: rgb(0, 174, 255);
}

input{
    height: 50px;
    width: 300px;
}

span{
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    padding: 10px;
    cursor: pointer;
}